/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: lightblue;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .App{
    background-color: #fff;
    max-width: 992px;
    margin: auto;
  }

  nav{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid gray;
      background-color: orange;
  }

  .nav-menu li {
      display: inline-block;
      list-style: none;
      padding: 10px 20px;
  }
  .nav-menu-link{
      display: inline-block;
      margin: 5px;
      border: 1px solid gray;
      text-decoration: none;
      border-radius: 5px;
      padding: 3px 8px;
      background-color: white;
      transition: all 0.3s ease-in-out;
  }

  .nav-menu-link:hover{
      border: 1px solid black;
      background-color: rgb(228,228,228);
      transition: all 0.3s ease-in-out;
      cursor: pointer;
  }

  .nav-menu-link.active{
      background-color: royalblue;
      color: white;
  }

  .logo{
      margin-left: 40px;
      margin-top:  25px;
  }

  .logo-link{
    color: white;
    text-decoration: none;
}
